
# 依賴套件
node_modules/
.pnp
.pnp.js

# 編譯產物
dist/
build/

# 測試
coverage/

# 生產環境變數
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# 日誌
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# 系統檔案
.DS_Store
Thumbs.db

# 編輯器
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
